services:
  mediaflow-proxy:
    image: mhdzumair/mediaflow-proxy:latest
    container_name: mediaflow-proxy
    restart: unless-stopped
    environment:
      - API_PASSWORD=${API_PASSWORD}
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8888/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
    networks:
      - caddy_net
      - ai_network

networks:
  caddy_net:
    external: true
  ai_network:
    external: true
