services:
  jackett:
    image: lscr.io/linuxserver/jackett:latest
    container_name: jackett
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:9117/UI/Dashboard || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s

    volumes:
      - jackett_config:/config
    networks:
      - caddy_net

  aiostreams:
    image: ghcr.io/viren070/aiostreams:latest
    container_name: aiostreams
    restart: unless-stopped
    environment:
      - PORT=3000
      - TRUSTED_IPS=*
    networks:
      - caddy_net
      - ai_network
    healthcheck:
      test: [ "CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:3000/ || exit 1" ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 90s

volumes:
  jackett_config:


networks:
  caddy_net:
    external: true
  ai_network:
    external: true
